* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: whitesmoke;
    color: #7e8ba3;
    font: 300 1rem/1.5 Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100%;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.align__item--start {
    align-self: flex-start;
}

.align__item--end {
    align-self: flex-end;
}

.site__logo {
    margin-bottom: 2rem;
}

input {
    border: 0;
    font: inherit;
}

input::placeholder {
    color: #7e8ba3;
}

.form__field {
    margin-bottom: 1rem;
}

.form input {
    outline: 0;
    padding: 0.5rem 1rem;
}

.form input[type="text"], .form input[type="password"] {
    width: 100%;
}

.grid {
    margin: 0 auto;
    max-width: 27rem;
    width: 100%;
}

h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 20%;
}

a {
    color: #7e8ba3;
}

.register {
    margin: 2rem 0rem;
    box-shadow: 0 0 250px #000;
    text-align: center;
    padding: 6rem 2rem;
    border-radius: 8px;
}

.register input {
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: .5rem;
}

.register input:focus {
    outline:  none;
}

.register input[type="email"], .register input[type="password"] {
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
}

.register input[type="submit"] {
    background-image: linear-gradient(160deg, #FE5815 0%, #024BB0 100%);
    color: #fff;
    margin-bottom: 0rem;
    width: 75%;
}

.custom-select {
    position: relative;
}

.box {
    width: 53%;
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
    text-align-last: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: .5rem;
}